/*Index Above the Fold*/


.idx_atf {
    background-position:  top;
}
.idx_atf section h1 {
    font-size: 1.3rem;
}
.idx_atf h2 {
    align-self:center;
    width: 70vw;
    margin-top:2vh;
    text-align:center;
    font-size: 1rem;
}
.idx_atf button {
    margin-bottom:2vh;
    font-size: 1.2rem;
}
.idx_atf h3 {
    align-self: left;
    margin-bottom: 9vh;
}

/*--------------------------*/
/*Index Above the Fold END*/